@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

$primary-color: burlywood;
$secondary-color: brown;
$hover-color: darken($primary-color, 10%);
$font-family-main: 'Poppins', sans-serif;
$font-family-script: 'Dancing Script', cursive;

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    font-family: $font-family-main;  
    padding: 20px;
    border-radius: 20px;

    h2 {
        color: white;
        margin-bottom: 20px;
        margin-right: 100px;
        font-family: $font-family-script; /* Apply script font to header */
    }

    form {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;

        input {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            font-size: 16px;
            font-family: $font-family-script; /* Apply script font to input text */
            
            &::placeholder {
                color: #aaa;
                font-family: $font-family-script; /* Apply script font to placeholder text */
            }

            &:focus {
                border-color: #007bff;
                outline: none;
            }
        }

        button {
            padding: 10px;
            background-color: $primary-color;
            color: white;
            border: none;
            border-radius: 20px;
            font-size: 16px;
            cursor: pointer;
            font-family: $font-family-script; /* Apply script font to button text */

            &:hover {
                background-color: $secondary-color;
            }
        }
    }

    p {
        margin-top: 15px;
        color: $primary-color;
        font-family: $font-family-script; /* Apply script font to paragraph text */

        a {
            color: $primary-color;
            text-decoration: none;
            font-family: $font-family-script; /* Apply script font to link text */

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
