@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$primary-color: burlywood;
$secondary-color: brown;
$font-family: 'Poppins', sans-serif;

.product-card {
  height: 400px;
  width: 300px;
}